package {{.Generated_PkgName}}

import(
  {{- range .Imports }}
    {{.}}
  {{- end }}
)


{{- $targetNode:= .ServiceGenerator.TargetNode  -}}
{{- $curdParamGenerator := .ServiceGenerator.CURDParamGenerator -}}
{{- $core :=.ServiceGenerator.Adaptor.Core  -}}
{{- $apiGenerator := .ServiceGenerator.ServiceApiGenerator }}

type {{.StructName}} struct{
  storage {{.Generated_DataInterfaceName}}
}

type {{ .Generated_DataInterfaceName}} interface{
  {{.Generated_DataInterfaceCreateFuncName}}(ctx context.Context,data map[string]interface{})(id {{$targetNode.ID.Type.Type.String}},err error)
  {{.Generated_DataInterfaceQueryFuncName}} (ctx context.Context,query *{{ $curdParamGenerator.Generated_PkgName }}.{{$curdParamGenerator.Adaptor.Core.Generated_QueryRequestStructName}}) (records []*{{ $core.EntPkgName }}.{{ $targetNode.Name }},count int,err error)
}

func (this *{{.StructName}}) {{.Generated_CreateFuncName}} (ctx context.Context, data map[string]interface{})(id {{$targetNode.ID.Type.Type.String}},err error){
  return this.storage.{{.Generated_DataInterfaceCreateFuncName}}(ctx,data)
}

func (this *{{.StructName}}) {{.Generated_QueryFuncName}} (ctx context.Context, req *{{ $curdParamGenerator.Generated_PkgName }}.{{$curdParamGenerator.Adaptor.Core.Generated_QueryRequestStructName}}) (*{{ $apiGenerator.Generated_PkgName }}.{{$apiGenerator.Generated_Proto_QueryResponseMessageName}}, error){
  records,count,err := this.storage.{{.Generated_DataInterfaceQueryFuncName}}(ctx,req)
  if err != nil{
    return nil, err
  }
  // { record to structpb.Struct
  structs := make([]*structpb.Struct,0,len(records))
  for _,record := range records{
    s := &structpb.Struct{}
    bytes,err := json.Marshal(record)
    if err != nil{
      return nil,err
    }
    err = s.UnmarshalJSON(bytes)
    if err != nil{
      return nil,err
    }
    structs = append(structs,s)
  }

  // }
  res := &{{.ApiLayer.Generated_PkgName}}.{{.ApiLayer.Generated_Proto_QueryResponseMessageName}}{
    Data: structs,
    Meta: &{{.ApiLayer.Generated_PkgName}}.{{.ApiLayer.Generated_Proto_QueryResponseMetaMessageName}}{
      Count:int64(count),
    },
  }

  return res,nil
}
