syntax = "proto3";

package {{.ProtoPackageName}};

option go_package = "{{.Generated_PkgPath}};{{.Generated_PkgName}}";

message {{.Adaptor.Core.Generated_QueryRequestStructName}}  {
	string filter =1;
	int32 page_index =2;
	int32 page_size =3;
}
