syntax = "proto3";

package {{.ProtoPkgName}};

import "google/api/annotations.proto";
import "curd_param.proto";

option go_package = "{{.Generated_PkgPath}};{{.Generated_PkgName}}";

{{ $core := .SvcGenerator.Adaptor.Core -}}
{{- $targetNode := .SvcGenerator.TargetNode -}}

service {{$targetNode.Name}}{
  rpc Create(curdboy.common.{{$core.Generated_QueryRequestStructName}}) return({{$targetNode.Name}}CreateResponse);
  rpc Query(curdboy.common.{{$core.Generated_QueryRequestStructName}}) return({{ $targetNode.Name }}QueryResponse);
}

message {{ $targetNode.Name }}CreateResponse{
  {{ template "ProtoFieldType_From_EntFieldType" $targetNode.ID.Type.Type }} id =1;
}

message {{ $targetNode.Name }}QueryResponse{
  

}


{{- define "ProtoFieldType_From_EntFieldType" -}}
  {{- $entFieldType := . -}}
  {{- $entFieldTypeStr := $entFieldType.String -}}
  {{- if eq $entFieldTypeStr "string" -}}
    string
  {{- else if eq $entFieldTypeStr "int" -}}
    int32
  {{- else -}}
    ERROR UNDEFINED ENT FIELD TYPE < {{ $entFieldTypeStr }} >
  {{- end -}}
{{- end -}}
